{% extends 'portal/base.html' %}
{% block title %}Login{% endblock %}

{% block body %}

    <!-- Display error in case there is one -->
    {% if '{{error}}' %}
        <div class="col-sm-offset-2 col-sn-10">
            <p> {{error}} </p>
            <br>
        </div>
    {% endif %}

    <!-- Login Form -->
    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'portal/form-template.html' %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sn-10">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
    </form>
    &nbsp;
    <!-- Register Button -->
    <div class="col-sm-offset-2 col-sn-10">
        <form action="{% url 'portal:register' %}" method="get" >
            {% csrf_token %}
            <input type="hidden">
            <button type="submit" class="btn btn-success btn-md"> Register </button>
        </form>
    </div>

{% endblock %}