<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> {% block title %} Lockee {% endblock %}</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
        <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'portal/style.css' %}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">

                <!--NavBar  -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <p class="navbar-brand">
                        <span class="your-icon icon-home normal" aria-hidden="true"></span>&nbsp; Lockee!
                    </p>
                </div>

                <!-- Nav Bar Items -->
                <div class="collapse navbar-collapse" id="topNavBar">
                    <ul class="nav navbar-nav">
                        {% if user.is_authenticated %}
                        <li class="">
                            <a href="{% url 'portal:my-locks' %}">
                                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>&nbsp; My Locks
                            </a>
                        </li>
                        <li class="">
                            <a href="{% url 'portal:add-lock' %}">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Add Lock
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="portal/about.html">
                                    <span class="glyphicons glyphicons-tag" aria-hidden="true"></span>&nbsp; About
                                </a>
                            </li>
                        {% if user.is_authenticated %}
                        <li class="#">
                            <a href="{% url 'portal:profile' %}">
                                <span class="glyphicon glyphicon-profile" aria-hidden="true"></span>&nbsp; {{ user.first_name }} {{user.last_name}}
                            </a>
                        </li>
                        <li class="#">
                            <a href="{% url 'portal:logout' %}">
                                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Log Out
                            </a>
                        </li>
                        {% else %}
                        <li>
                            <a href="{% url 'portal:login' %}">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Log In
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% block body %} {% endblock %}
    </body>
</html>