{% extends 'portal/base.html' %}
{% block title %} Share {% endblock %}
{% block body %}
    <p> To share {{what_lock.nickname}} pass this code around </p>
    <p> Use the button below to get a new code </p>
    <br>
    {% if what_lock.share_id %}
        <p> {{what_lock.share_id}} </p>
    {% else %}
        <p> {{what_lock.nickname}} has no code at the moment ..</p>
    {% endif %}
    <br>
    <!-- Generate Button -->
    <div class="">
        <form action="{% url 'portal:generate' %}" method="get" >
            {% csrf_token %}
            <input type="hidden">
            <button type="submit" class="btn btn-success btn-md"> Generate! </button>
        </form>
    </div>